<div class="container-fluid d-flex justify-content-center align-items-center vh-50 pt-5">
    <div class="bg-primary-subtle pt-5 ps-4 pe-4 pb-5 text-center mt-5">
        <p class="display-4 text-primary">Register New Account</p>
        <form class="mt-5 ms-4 me-4 text-start" [formGroup] = "registerF">
            <div class="mt-5 mb-4">
                <label for="uname" class="h4">Username</label>
                <input type="text" name="uname" formControlName = "userName"class="form-control">
                <div style="color: red;" *ngIf="registerF.get('userName')?.dirty && registerF.get('userName')?.errors?.['minlength']">Username Invalid [Min. Length = 4]</div>
                <div style="color: red;" *ngIf="registerF.get('userName')?.dirty && registerF.get('userName')?.errors?.['maxlength']">Username Invalid [Min. Length = 4]</div>
            </div>

    
            <div class="mb-4">
                <label for="pwd" class="h4">Password</label>
                <input type="password" name="pwd" formControlName="password" class="form-control">
                <div style="color: red;" *ngIf="registerF.get('password')?.dirty && registerF.get('password')?.errors?.['minlength']">Password Invalid [Min. 8 character required]</div>
            </div>

            <div class="mb-4">
                <label for="pwd" class="h4">Confirm Password</label>
                <input type="password" name="pwd" formControlName="confirmPwd" class="form-control">
                <div style="color: red;" *ngIf="registerF.get('confirmPwd')?.dirty && registerF.get('confirmPwd')?.errors?.['minlength']">Password Invalid [Min. 8 character required]</div>
            </div>
    
            <div style="color: red;" *ngIf="registerF.errors?.['confirm'] && registerF.get('confirmPwd')?.dirty">Passwords Don't Match</div>
            
            <div class="submit text-center mt-5 pt-5">
                <input type="submit" [disabled] = "registerF.invalid" value="LogIn" class="btn btn-primary btn-xxl" (click)="onSubmit($event)">
            </div>
        </form>
    </div>
</div>